@import "tailwindcss";

/* user button acjust */
.cl-avatarBox {
    width: 2rem;
    height: 2rem;
}

/* carosal arrow */
.arrows{
    height: 40px;
    width: 40px;
    margin: 1px;
}

/* input color */
input{
    background: #ffffff;
    accent-color: red;
    border: 1 px solid #ccc;
    color: #333;
}

@keyframes slideDown {
    from { opacity: 0; transform: translateY(-10px); }
    to {  opacity: 1; transform: translateY(0); }
}

.animate-slideDown {
    animation: slideDown 0.25s ease-out;
}